<!DOCTYPE html>
<html>
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Weber Fechner Categories</title>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      
      <script
       src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
       integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
       crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
	  integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"
	    integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A="
	    crossorigin="anonymous"></script>
	    
	

    <link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.css"
	  integrity="sha256-fjKCwdf+fsFNnRRFfKZIznHEygdh6vtEJqVg8Eu3Kuw="
	  crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.js"
	    integrity="sha256-Gox75luuxLxNYWsoO+2sGVMYOUcheq0zhGEB2310fuw=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
		integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
	
		
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	

   
    
    <!-- parallel coordinates -->
   
  </head>

  <body>

    <div class="ui grid">
	    
	
	      <!-- open layers map -->
	     <div class="twelve wide column">
			 <div class="ui segment">
			 	<div id="map"></div>
			 </div>
			 
	     </div>
	     <div class="four wide column">
			
			<div class="ui segment">
		  		
		  		<form action="upload" method=post enctype=multipart/form-data>
			      <p><input type=file name=file[] multiple="multiple">
			         <input type=submit value=Upload>
			    </form>
			    
			 		
			</div>   
			 
			<div class="ui segment">
		  		
		  		  <div class="ui three column grid" style="margin-top: 0.5em;">
        		  		  
                         <div class="eight wide column">
                            <select id="fields" class="ui dropdown" onchange="displayField()"></select>
                        </div>
                         <div class="four wide column">
                            <div id="fp_slider"></div>
                        </div>
                        <div class="four wide column">
            		  		  <div class="ui big input" style="width:100%">
                            		<input placeholder="1" id="fp" value="{{ fp }}" onchange="sync_fp_slider(); sync_bar();">
                            </div>
                         </div> 
                	  </div>
                	  </br>
                	  <img src="/color_bar/?fp=1&max=1&min=0" id="color_bar" width="100%" >
                	  <div class="ui three column grid" style="margin-top: 0.5em;">
                          
                          <div class="three wide column">
                              
                              
                              <div class="ui input" style="width:100%">
                            		<input placeholder="1" id="min" value="{{ min }}" onchange="change_range();">
                        	  </div>
                          </div>
                          <div class="ten wide column">
                    	      
                    	  </div>
                          
                          <div class="three wide column">
                              
                             <div class="ui input" style="width:100%">
                        		<input placeholder="1" id="max" value="{{ max }}" onchange="change_range();">
                        	  </div>
                          </div>
                          
                        
                    </div>
                	  
				
			</div>
			<div class="ui segment" id="stats">
		  		
			</div>
			
			
			
	     </div>
	     <!-- parallel coordinates graph -->
	     
	     
	     
    </div>
    <script>
    
 
    </script>
    <script src="/static/styles.js"></script>
    <script src="/static/map_setup.js" layer_url="{{ layer_url }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>
